html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin: 0;
    padding: 0;
}

.container {
    padding-top: 5rem;
    display: grid;
    place-items: center;
    width: 100vw;
}

.list {
    width: 50vw;
}

header {
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.list-items {
    display: grid;
    place-items: center;
}

.list-item {
    padding: 1.25rem;
    margin-bottom: 1rem;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    box-shadow: 0 5px 5px -5px black;
    justify-self: left;
    min-width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-content {
    word-wrap: break-word;
    padding-left: 1.5rem;
    padding-right: 2rem;
    width: 100%;
}

input[type='checkbox'] {
    width: 1.5rem;
    height: 1.5rem;
}

.delete {
    font-size: 1.25rem;
    color: red;
}

label {
    word-wrap: break-word;
    width: 100%;
    font-size: 1.25rem;
}

.edit {
    color: blue;
    text-decoration: underline;
}

@media (max-width : 1000px) {
    .list {
        width: 70vw;
    }
}